
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.container{
  max-width: 1280px;
}

/* NavBr */
.site-logo {
  width: 129px;
  height: 29px;
}
.Navbar-menu {
  background-color: #1e7f68;
}
.menu {
  font-weight: bold;
  font-size: 17px;
  color: white;
}
.menu-icon {
  color: yellow;
  font-weight: bold;
  font-size: 30px;
}

/* footer */
.footer-logo {
  width: 215px;
  height: 49px;
}
.footer-container {
  padding: 5% 0 1% 0;
  background-color: black;
}
.footer-payment h3 {
  text-align: center;
  color: #1e7f68;
  font-size: 40px;
  font-weight: bold;
}
.curacaoImg {
  width: 327px;
  height: 106px;
}
.payment-gateway-section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  justify-content: center;
  padding: 0px 20px;
}
.footer-payment--img {
  width: 132px;
  height: 132px;
}
.grid-four-column {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 100px;
  color: white;
  padding: 4% 3%;
}
.grid-five--column {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
  padding-top: 25px;
}
.icons {
  background-color: #363636;
  color: white;
  border-radius: 5px;
  font-size: var(--icon-size, 25px);
  line-height: var(--icon-size, 25px);
  width: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, 0.5em)));
  height: calc(var(--icon-size, 25px) + (2 * var(--icon-padding, 0.5em)));
  padding: 10px;
}
.icons:hover {
  background-color: white;
  color: #191970;
}

.footer-explore--link {
  display: block;
  text-decoration: none;
  color: white;
}
.grid-container > div {
  background-color: rgba(7, 7, 7, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: black;
}
.footer-bottom--section {
  color: white;
  text-align: center;
}
/* home page CSS-------------------------------------------------------------- */
img {
  width: 100%;
}
.grid-two-column {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  row-gap: 20px;
  padding: 0px 0px 0px 10px;
  position: relative;
  z-index: 10;
}
.grid-item__img {
  /* background-image: linear-gradient(to right, #fdfdfd, #c9dad0); */
}
.grid-item__title h2 {
  color: #1e7f68;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #575757;
  font-size: 60px;
}
.grid-item__title h2 span {
  color: rgb(250, 221, 22);
}
.grid-btn {
  background-color: #1e7f68;
  border-radius: 20px;
  padding: 8px 25px;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
h3 {
  font-size: 48px;
  color: #1e7f68;
}
.grid-item__title2 h3 {
  padding: 0px 0px 20px 0px;
}
.grid-item__title2 h3 p {
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}
.grid__feature {
  padding: 8% 4%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

td {
  border: 1px solid #070707;
  padding: 15px;
  color: #1e7f68;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.feature__item {
  width: 15%;
}
.last--line__italic {
  padding-top: 20px;
  text-align: center;
}
/* bonus card */
.bonus-grid{
  padding:0px 30px 0px 30px;
}
.card {
  text-align: center;
  border:none;
}
.card-title {
  font-size: 25px;
  color: #1e7f68;
}
.card-text {
  color: black;
  font-size: 16px;
  line-height: 24px;
}
.hero__section{
   position: relative;
}
.hero__section::after{
  content: "";
  background-image: url(../src/assets/images/hero.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: left;
  background-size: cover;
}
.home_know{
  padding: 60px 0px 0px 0px;
}
.home_know p{
  font-size: 17px;
  
}
.home_know h3{
  font-weight: 600;
}
.bgfront1{
  background-image: url(../src/assets/images/overlyfron1.png);
}
.bgback1{
  background-image: url(../src/assets/images/overlayback1.png);
}
.overlaycard__container{
  padding-bottom: 60px;
  padding-top: 60px;
}
.overlayCard__inner{
  position: relative;
  height: 280px;
  border-left: 2px solid #635dff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
}
.overlaycard_front,.overlaycard_back{
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.overlay__content{
  padding: 40px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay__content p{
  font-size: 18px;
  line-height: 29px;
}
.overlaycard_back{
  opacity: 0;
}
.overlayCard__inner:hover .overlaycard_front {
  opacity: 0;
}
.overlayCard__inner:hover .overlaycard_back {
  opacity: 1;
}
.sport_typsBadges{
  padding: 15px 50px 12px 50px;
  background-color: #1E7F68;
  border-radius: 0px 30px 0px 0px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  width: max-content;
}
.sport_typsBadges span{
  font-family: 'Gabarito', sans-serif;
    color: #fff;
    font-size: 16px;
}